services:
  postgres:
    image: postgres:15-alpine
    container_name: adminkaback_postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: adminkaback
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: adminkaback_app
    env_file:
      - .env
    environment:
      # Переопределяем PG_HOST для работы в Docker сети
      PG_HOST: postgres
      # Остальные переменные берутся из .env файла
    ports:
      - "8090:8090"
    depends_on:
      postgres:
        condition: service_healthy
    volumes:
      - ./internal/migrations:/app/migrations

volumes:
  postgres_data:

