.widgets {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  gap: 24px;
  isolation: isolate;
  width: 268px;
  height: 982px;
  overflow-y: auto;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.notifications {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px;
  gap: 8px;
  width: 228px;
  height: 40px;
  background: #E9E9E5;
  border: 1px solid #C9C9C5;
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.frame285 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 4px;
  gap: 10px;
  width: 212px;
  height: 24px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.storage {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;
  width: 204px;
  height: 16px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  gap: 4px;
  width: 204px;
  height: 16px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.frame282 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 4px;
  margin: 0 auto;
  width: 98px;
  height: 16px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.frame281 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 10px;
  width: 16px;
  height: 16px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.vector {
  width: 12px;
  height: 10px;
  border: 1px solid #13190D;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.newRequests {
  width: 78px;
  height: 12px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 450;
  font-size: 12px;
  line-height: 100%;
  display: flex;
  align-items: center;
  color: #13190D;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.frame283 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 8px;
  margin: 0 auto;
  width: 26px;
  height: 8px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.count {
  width: auto;
  min-width: 10px;
  height: 8px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 8px;
  line-height: 100%;
  display: flex;
  align-items: center;
  color: #13190D;
  flex: none;
  order: 0;
  flex-grow: 0;
  white-space: nowrap;
}

.search {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 0px;
  width: 228px;
  height: 36px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  gap: 0px;
  width: 228px;
  height: 36px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.field {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 12px;
  gap: 8px;
  width: 228px;
  height: 36px;
  background: #E9E9E5;
  border: 1px solid #C9C9C5;
  border-radius: 8px;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.left {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 4px;
  width: 188px;
  height: 12px;
  flex: none;
  order: 0;
  flex-grow: 1;
}

.placeholder {
  width: 188px;
  height: 12px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 450;
  font-size: 12px;
  line-height: 100%;
  color: #979795;
  flex: none;
  order: 1;
  flex-grow: 1;
}

.dropdown {
  width: 8px;
  height: 4px;
  border: 1px solid #979795;
  flex: none;
  order: 3;
  flex-grow: 0;
}

.promotion {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 12px;
  gap: 8px;
  width: 228px;
  min-height: 60px;
  background: #E9E9E5;
  border: 1px solid #C9C9C5;
  border-radius: 8px;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.promotionContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 4px;
  width: 204px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.promotionTitle {
  width: 204px;
  height: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 450;
  font-size: 16px;
  line-height: 100%;
  color: #13190D;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.promotionDescription {
  width: 204px;
  height: auto;
  min-height: 12px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 450;
  font-size: 12px;
  line-height: 100%;
  color: #13190D;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.theme {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 12px;
  gap: 8px;
  width: 228px;
  min-height: 60px;
  background: #E9E9E5;
  border: 1px solid #C9C9C5;
  border-radius: 8px;
  flex: none;
  order: 3;
  flex-grow: 0;
}

.themeContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 4px;
  width: 204px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.themeTitle {
  width: 204px;
  height: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 450;
  font-size: 16px;
  line-height: 100%;
  color: #13190D;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.themeDescription {
  width: 204px;
  height: auto;
  min-height: 12px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 450;
  font-size: 12px;
  line-height: 100%;
  color: #13190D;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}
